.fondogrey{
	background-color: rgba(7, 7, 7, 0.22);
	padding-top: 10px;
	padding-bottom: 5px;
}

.navi{
	padding-top: 10px;
	padding-bottom: 0;
}

.navi .nav a{
	font-size: 11px;
	color: grey;
	margin-right:5px;
	font-weight: bold;
}

.nav{
	list-style: none;
	padding: 0;
}

.nav li{
	float:left;
}

.btn-default{
	background-color: #ff4500;
	border-radius: 10px;
	color:white;
	font-size: 11px;
	margin-right: 10px;
}

.icono{
	margin-right: 10px;
	font-size: 15px;
}

.fa-facebook{
	color:#1034a6;
}

.fa-twitter{
	color: #0070ff;
}

.fa-google-plus{
	color: #cc0000;
}

.fa-envelope{
	color: #ffbf00;
}

.fa-rss{
	color:#ff8c00;
}

.buscar{
	display: inline-block;
	color:grey;
}

