footer{
	background-color: #E3E3E3;
	padding: 2% 0 1% 0;
}
.footer1{
        margin-top: 2%;
}
header{
	background-color:  #E3E3E3;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px gray
	 solid;
}
.img-republica {
    margin: 10% 0% 0% 0%;
}
.caja {
    border: 1px solid rgba(0, 0, 0, 0.23); 
    border-bottom: #900f0f 3px solid;
    margin: 2% 0% 0% 0%;   
}
.button {
    margin: -2% 0% 0% 0%;
}
.caja2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    padding: 1%;
}
.parrafo {
    font-size: 11px;
    display: inline;
}
.img-author {
    margin: -14% 0% 0% 88%;
}
.fondo-negro {
    background-color: black;
    background-size: 100%;
    position: relative;
    margin: 0% 3% 0% 0%;
    padding: 1% 0% 1% 1%;
}
.fondo-blanco {
    background-color: white;
    background-size: 100%;
    position: absolute;
    top: 18%;
    margin: -3% 0% 0% 5%;
    padding: 3% 0% 0% 0%;
    border-radius: 5px 0 0 5px;
}
/*menu*/
.caja{
    margin-top: 5%;
}
.caja2{
    margin-top: 5%;
}
.back-red {
    background-color: rgba(193, 3, 3, 0.96);
    border-radius: 4px;
    margin-top: 2%;
}
.pwhite {
    color: white;
    font-family: sans-serif;
}
.nav-pills li a {
    font-size: 12px;
    padding: 6px 8px;
}
.nav-pills li a:hover{
    background-color: blue;
    color:black;
    text-decoration: none;
}
.p2{
    border-right: 1px black solid;
}
/*menu2*/
.caja3 {
    margin-top: 1%;
}
.back-gray {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 4px;
    font-family: sans-serif;
}
.back-gray li a{
    color: black;
    text-decoration: none;
    padding: 5px 6px;
}
.back-gray img{
    padding: 0 6px;
    padding-top: 4px;
}
.back-gray li a:hover{
    color:white;
    background-color: black;
}
a {
    list-style: none;
    text-decoration: none;
    float: left;
}
/*banner-header*/
.imgbanner {
    padding-top: 1%;
}
.copy{
	font-size:12px;
}
.list-group-item{
	color:#333331;
}
 hr{ 
   border: 0.5px solid white;
   height:2px;  
   background-color:#CEC9C9; 
   width: 100%;
 }
 .direccion{
 	padding-top: 20%;	
 }
.mobile{
	background: black;
	padding: 3% 0;
	color:white;
}
.iconos{
	text-align: right;
}
/*Para centrar*/
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
 }
 .pucp{
 	width: 100%;
 }
.navi{
	padding-top: 10px;
	padding-bottom: 0;
}

.navi .nav a{
	font-size: 10px;
	color: grey;
	margin-right:5px;
	font-weight: bold;
}

.nav{
	list-style: none;
	padding: 0;
}

.nav li{
	float:left;
}

.btn-default{
	background-color: red;
	border-radius: 4px;
	color:white;
	font-size: 11px;
	margin-right: 10px;
	padding: 0.2%;
}

.icono{
	margin-right: 5px;
	font-size: 15px;
}

.fa-facebook{
	color:#1034a6;
}

.fa-twitter{
	color: #0070ff;
}

.fa-google-plus{
	color: #cc0000;
}

.fa-envelope{
	color: #ffbf00;
}

.fa-rss{
	color:#ff8c00;
}

.buscar{
	font-size: 11px;
	display: inline-block;
	color:grey;
}
